body 
{background-color: #040c24;
}    

a 
{text-align: center;}

aligncenter 
{text-align: center;};
navbar-brand{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
